<div class="menu">
    <h3>选项卡</h3>
    <ul class="menu-title">
        <li class="menu-title-item active">aaa</li>
        <li class="menu-title-item">bbb</li>
        <li class="menu-title-item">ccc</li>
        <div style="clear: both"></div>
    </ul>

    <ul class="menu-content">
        <li class="menu-content-item active">111</li>
        <li class="menu-content-item">222</li>
        <li class="menu-content-item">333</li>
    </ul>
</div>